.container {
  width: 800px;
  margin: 50px auto;
}
.satu,
.dua {
  border: solid;
  width: 200px;
  height: 200px;
}
.satu {
  background-color: green;
  border-image-repeat: repeat;
  border-image-outset: 20px;
  border-image-source: url(hearts.png);
  border-image-width:7%;
  border-image-slice: 33%;
  box-shadow: 25px 25px;
  margin: 20px;
}
.dua {
  background-color: blue;
  border-image-repeat: repeat;
  border-image-outset: 15px;
  border-image-source: url(border1.png);
  border-image-width:10%;
  border-image-slice: 33%;
  box-shadow: 5px 5px 5px 5px;
  margin: 20px;
}
